@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--primary: 216 84% 44%;
		--primary-foreground: 0 0% 100%;
		--secondary: 216 14% 87%;
		--secondary-foreground: 216 14% 27%;
		--background: 216 54% 99%;
		--foreground: 216 78% 1%;
		--card: 216 54% 99%;
		--card-foreground: 216 78% 1%;
		--popover: 216 54% 99%;
		--popover-foreground: 216 78% 1%;
		--muted: 216 14% 88%;
		--muted-foreground: 216 12% 34%;
		--accent: 216 21% 79%;
		--accent-foreground: 216 21% 19%;
		--destructive: 3 83% 43%;
		--destructive-foreground: 0 0% 100%;
		--border: 216 14% 91%;
		--input: 216 14% 91%;
		--ring: 216 84% 44%;
		--radius: 0.5rem;
	}
	.dark {
		--primary: 216 84% 44%;
		--primary-foreground: 0 0% 100%;
		--secondary: 216 5% 20%;
		--secondary-foreground: 216 5% 80%;
		--background: 216 52% 0%;
		--foreground: 216 32% 99%;
		--card: 216 52% 0%;
		--card-foreground: 216 32% 99%;
		--popover: 216 52% 0%;
		--popover-foreground: 216 32% 99%;
		--muted: 216 14% 12%;
		--muted-foreground: 216 12% 66%;
		--accent: 216 15% 29%;
		--accent-foreground: 216 15% 89%;
		--destructive: 19 87% 55%;
		--destructive-foreground: 0 0% 0%;
		--border: 216 14% 12%;
		--input: 216 14% 12%;
		--ring: 216 84% 44%;
		--radius: 0.5rem;
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--primary: 216 84% 44%;
			--primary-foreground: 0 0% 100%;
			--secondary: 216 5% 20%;
			--secondary-foreground: 216 5% 80%;
			--background: 216 52% 0%;
			--foreground: 216 32% 99%;
			--card: 216 52% 0%;
			--card-foreground: 216 32% 99%;
			--popover: 216 52% 0%;
			--popover-foreground: 216 32% 99%;
			--muted: 216 14% 12%;
			--muted-foreground: 216 12% 66%;
			--accent: 216 15% 29%;
			--accent-foreground: 216 15% 89%;
			--destructive: 19 87% 55%;
			--destructive-foreground: 0 0% 0%;
			--border: 216 14% 12%;
			--input: 216 14% 12%;
			--ring: 216 84% 44%;
		}
	}
}

@layer base {
	html,
	body {
		overscroll-behavior: none;
	}
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
